body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1em 0;
    text-align: center;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 600px;
    padding: 2em;
}

h1 {
    margin: 0;
    font-size: 1.75em;
}

section {
    background-color: white;
    border: 1px solid #ddd;
    padding: 1em;
    width: 65%;
    margin-bottom: 2em;
}

.h2 {
    color: #333;
    font-size: 1.5em;
}

.link-box {
    display: flex;
    justify-content: space-between;
}

.link-box a {
    text-decoration: none;
    color: #4CAF50;
    font-weight: bold;
}

.box-image {
    width: 50px;
    height: 50px;
    margin-left: 1em;
    border-radius: 50%;
}

.form-group {
    margin-bottom: 1em;
    text-align: center;
}

input[type="text"], input[type="date"] {
    width: 100%;
    padding: 0.5em;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 0.75em 1.5em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

a {
    display: inline-block;
    margin-top: 1em;
    color: #4CAF50;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;

}

th, td {
    border: 1px solid #9e9e9e;
    text-align: left;
    padding: 15px;
}

th {
    background-color: #e6e6e6;
    color: #333;
    font-weight: bold;
}

tbody tr:hover {
    background-color: #9db39e;
}